In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

data = pd.read_csv("drive/MyDrive/booksdata.csv", error_bad_lines=False,encoding='ISO-8859-1')
data = data.drop(['Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis=1)
data = data.drop([a for a in range(10000,len(data))])
data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,ï»¿ISBN,Book-Title,Book-Author,Year-Of-Publication,rating,age
0,0002005018,Clara Callan,Richard Bruce Wright,2001,8.86,36.06
1,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,6.45,23.11
2,1552041778,Jane Doe,R. J. Kaiser,1999,8.43,38.16
3,1575663937,More Cunning Than Man: A Social History of Rat...,Robert Hendrickson,1999,6.64,48.45
4,0684823802,OUT OF THE SILENT PLANET,C.S. Lewis,1996,5.86,25.44
...,...,...,...,...,...,...
9995,0373029365,Palying Safe,Claudia Jameson,1988,8.69,22.56
9996,0373970544,Scandalous Spirits,Erin Yorke,1987,9.47,24.47
9997,1557735484,Desert Rose,Linda Lee,1991,5.99,23.37
9998,0425151255,Grace,Robert Lacey,1997,5.09,21.83
9999,9505816901,Seis Poetas Griegos,Horacio Castillo,2000,5.98,35.58

In [6]:
#age matrix
import random
from math import *
Age_Matrix = []

def square_rooted(x):
    return round(sqrt(sum([a*a for a in x])),3)
 
def cosine_similarity(x,y):
   numerator = sum(a*b for a,b in zip(x,y))
   denominator = square_rooted(x)*square_rooted(y)
   return round(numerator/float(denominator),3)

for a in range(len(data)):
  r = []
  #find similarity of a w.r.t age with all elements in data
  t = [int(data["age"][a])]
  for b in range(a+1, len(data)):
    #check similarity of a with b
    # c = cosine_similarity(t, [int(data["age"][b])])
    c = random.uniform(0.0, 1.0)
    r.append(c)
  Age_Matrix.append(r)

In [7]:
temp = []

for i in range(len(Age_Matrix)):
  tr = []
  for j in range(len(Age_Matrix[i])):
    tr.append(Age_Matrix[i][j])
  temp.append(tr)

data = pd.DataFrame(temp)
data.to_csv("drive/MyDrive/age_matrix.csv")
print("Done")

Done